<a href="/">
    <h4>Back Home</h4>
</a>
<h1>I am a wonderful potato</h1>
<p>Find me in the future of farts</p>
</br>
<h1>Sharticles</h1>
<h4>Checkout my Sharticles</h4>
<ul>
    <% @articles.each do |article| %>
        <li>
            <%= link_to article.title , article %>
        </li>
    <% end %>
</ul>

<%= link_to "New Article", new_article_path %>